[MASTER]
# Add your desired Python file extensions
ignore=.venv,tests,migrations
ignore-patterns=test_*.py

# Specify a configuration file.
persistent=yes

# Python code to execute, usually for loading some standard modules.
init-hook='import sys; sys.path.append("src")'

[MESSAGES CONTROL]
# Disable specific warnings or errors by their IDs (comma-separated list).
# You can disable errors like C0114 (Missing module docstring) if not needed.
disable=C0114, C0116, C0103, R0903, R0801 # R0201 was moved to an optional extension, see https://pylint.readthedocs.io/en/latest/whatsnew/2/2.14/summary.html#removed-checkers. (useless-option-value)

[REPORTS]
# Set the output format for reports.
output-format=colorized
reports=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention)) / statement)

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=88

# List of decorators that change the function signature.
# decorated-modifier-decorators=abc.abstractmethod, abc.abstractproperty, asyncio.coroutine, typing.overload # deprecated

# Naming style matching regex for variable names.
variable-rgx=[a-z_][a-z0-9_]{0,30}$

# Naming style matching regex for function names.
function-rgx=[a-z_][a-z0-9_]{2,30}$

# Regular expression matching correct method names.
method-rgx=[a-z_][a-z0-9_]{2,30}$

[DESIGN]
# Maximum number of arguments for function / method.
max-args=6

# Maximum number of methods in a class.
max-methods=20

[EXCEPTIONS]
# Exceptions to consider as "not fatal" for aborting checks.
overgeneral-exceptions=Exception,BaseException

[TYPECHECK]
# Add your project-specific libraries if needed.
ignored-modules=flask, requests, aiohttp
